# # Backend
# Dossiers générés
dist/
node_modules/

# Fichier de configuration
.env

# Fichiers logs
logs/
*.log

# Fichiers de sauvegarde
*.bak
*.backup
*.swp

# # Frontend
# Dossiers générés
build/
node_modules/

# Fichiers de dépendances ou verrouillage
package-lock.json
yarn.lock

# Fichier de configuration
.env

# Fichiers de build ou compilation
*.log
*.gz

# Fichiers temporaires
.DS_Store
Thumbs.db

